body {
  background-image: url(../image/background.png);
  background-size: cover;
  /* 背景图片覆盖整个元素 */
  background-repeat: no-repeat;
  /* 不重复背景图片 */
  background-position: 100% top;
  /* 背景图片居中显示 */
}
